@import 'variables';

.html, body {
 margin: 0;
 padding: 0;
 font-family: $font-regular;

 .container {
  max-width: 1440px;
 }
}

// Header
.header {
 background-color: $primary-color;
 font-family: $font-regular;
}

.logo {
 width: 100px;

 }

.logo-name {
  width: 300px;
}

.nav {
  .active {
    a {
      color: $secondary-color;
      font-weight: 600;
    }
  }

  a{
    color: $color-white;
    
    &:hover {
      color:$secondary-color;
    }
    
  }
  li:nth-child(1) {
    margin-right: 20px;
  }

  li:nth-child(2) {
    margin-right: 20px;
  }
}

section {
  background: $color-white;
  padding-top: 50px;
  // padding-bottom: 50px;
}
// Footer
.footer {
 background: $primary-color;
 padding: 20px 20px;
 color: $color-white;

 .container{
  display: flex;
  justify-content: space-between;
 }

 .social {
  width: 25px;
  filter: $filter-white;
 }
}
