@import 'variables';

.html, body {
 margin: 0;
 padding: 0;

 .container {
  max-width: 1440px;
 }
}

// Header
.header {
 background-color: $primary-color;
 font-family: $font-regular;
}

.logo {
 width: 100px;
 // filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(104%) contrast(102%);
 }

.logo-name {
  width: 300px;
}

.nav {
  .active {
    a {
      color: $secondary-color;
      font-weight: 600;
    }
  }

  a{
    color: $color-white;
    
    &:hover {
      color:$secondary-color;
    }
    
  }
  li:nth-child(1) {
    margin-right: 20px;
  }

  li:nth-child(2) {
    margin-right: 20px;
  }
}

section {
  background: $color-white;
  padding-top: 50px;
  padding-bottom: 50px;
}
// Footer
.footer {
 background: $primary-color;
 padding: 20px 20px;
}
